.searchBoardsInput{
    padding: 8px 8px;
    background: rgba(207, 207, 207, 0.555);
    border-radius: 8px;
    width: 260px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}