.boardCOLUMNdiv{
    border-radius: 5px;
    background-color: #ebecf0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    min-width: 272px;
    max-width: 300px;
    padding-top: 10px;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    position: relative;
    margin-bottom: 2vh;
}

.boardCOLUMNHeader{
    display: flex;
    justify-content: space-between;
}

.boardCOLUMNHeader p{
    margin-left: 1em;
    font-weight: bold;
}

.boardCOLUMNHeader i{
    margin-right: 1em;
    padding: 2px 5px;
    border-radius: 5px;
}

.boardCOLUMNHeader i:hover{
    background-color: rgba(179, 179, 179, 0.329);
    cursor: pointer;
}

.boardCOLUMNAddTask{
    display: flex;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 8px 0;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.boardCOLUMNAddTask i{
    margin-right: .2em;
}

.boardCOLUMNAddTask:hover{
    background-color: rgba(179, 179, 179, 0.329);
    cursor: pointer;
}

.droppableTasks{
    list-style-type: none;
}

@media screen and (max-width: 700px) {
    .boardCOLUMNdiv{
        margin-top: 1vh;
        min-width: 94%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}